apiVersion: v1
kind: Secret
metadata:
  name: supabase-studio-basic-auth
  namespace: supabase
type: kubernetes.io/basic-auth
stringData:
  username: FAKE_USERNAME
  password: FAKE_PASSWORD
---
apiVersion: v1
kind: Secret
metadata:
  name: postgres
  namespace: supabase
type: Opaque
stringData:
  username: FAKE_USERNAME
  password: FAKE_PASSWORD
---
# Anon Key and Service key must be jwt's that are signed with the given secret key.
# For more information and instructions to generate them refer to https://supabase.com/docs/guides/hosting/overview#api-keys
apiVersion: v1
kind: Secret
metadata:
  name: jwt
  namespace: supabase
type: Opaque
stringData:
  secret: FAKE_SECRET
  anon_key: FAKE_JWT
  service_key: FAKE_JWT
---
apiVersion: v1
kind: Secret
metadata:
  name: smtp
  namespace: supabase
type: Opaque
stringData:
  username: FAKE_USERNAME
  password: FAKE_PASSWORD
