apiVersion: v1
kind: Secret
metadata:
  name: youtube
  namespace: nlp
type: Opaque
stringData:
  api_key: FAKE_API_KEY
---
apiVersion: v1
kind: Secret
metadata:
  name: openweathermap
  namespace: nlp
type: Opaque
stringData:
  api_key: FAKE_API_KEY
